<section id="projects" class="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of projects">
        <div class="project-header">
          <h3>{{ project.title }}</h3>
        </div>
        <p class="project-description">{{ project.description }}</p>
        <div class="technologies">
          <span class="tech-tag" *ngFor="let tech of project.technologies">{{ tech }}</span>
        </div>
        <div class="project-links">
          <a *ngIf="project.link" [href]="project.link" target="_blank" class="btn btn-primary">
            View Live
          </a>
          <a *ngIf="project.github" [href]="project.github" target="_blank" class="btn btn-secondary">
            GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
